html {
  font-size: 62.5%;
}

:root {
  --color-background: #2d353c; 
  --white-page-calendar:#f9f9f9;
  --color-primary:#0E9191;
  --color-secondary: #E8AE49;
  --color-hover: #43987F;
  --font-on-darkgrey:#dee0e6;
  --highlight-in-grey: #a3b89f;
  --highlight-in-white:#3f4e72;
  --font-for-months: #94946d; 
  --button: #368fcc;

}

body {
  font-family: 'Handlee', cursive;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  background-image: linear-gradient(200deg, #0e9191 21%, #e8ae49 69%);
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  max-height: 20vh;
}

.title h1{
  font-size: 4.5rem;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  margin-bottom: 0.7rem;
}


/* animation text-focus-in h1 */
   @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.showModal{
  background-color: var(--color-secondary);
  color: var(--white-page-calendar);
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.6s ease;
}

.showModal:hover{
  background-color: var(--color-background);
  scale: 1.1;
  color: var(--color-secondary);
}

.mainCalendar{
  background-color: var(--color-background);
  max-width: 60%;
  margin: 2% auto 1.2rem auto;
  height: 75vh;
  max-height: 75vh;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: var(--font-for-months);
  font-size: 2rem;
  max-height:10vh;

}

.prevMonth, .nextMonth{
  background-color: var(--color-primary);
  font-size: 2rem;
  transition: all 0.3s ease;
  margin-left: 5rem;
  margin-right: 5rem;
}

.prevMonth:hover, .nextMonth:hover{
 background-color: #aca45c;

}

.weekdays {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  font-size: 1.6rem;
  color:var(--font-on-darkgrey);
  margin-bottom: 0.5rem;
}

.weekdays span {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
  padding: 0.3rem;
}

.presentDay {
  background-color: var(--color-primary);
}

button {
  background-color: var(--button);
  color: var(--font-on-darkgrey);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  flex-shrink: 1;
}

form button {
  margin-top: 1rem;
}



button:hover {
  background-color: #0056b3;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
  min-height: 40vh;
  padding: 0.3rem;
}

.day {
  padding: 0.3rem;
  text-align: center;
  color: var(--font-for-months);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 0.6s ease;
  height: 8.5vh;
  overflow-y: hidden;
}

.day:hover {
  background-color: var(--color-primary);
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: rgba(252, 251, 251, 0.2) 0px 12px 28px 0px, rgba(253, 252, 252, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  opacity: 0.8;
}

.day:active {
  background-color: var(--highlight-in-white);
  color: var(--font-on-darkgrey);
  font-size:large;
  font-weight: bold;
  box-shadow: 0.3 0.3 0.3 var(--calendar-shadow);
}

/* Modal New Event */

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.active {
  display: block;
}

.modal__container{
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.5rem;
  width: 30%;
  font-weight: bold;
  color: #949471;
}

.modal__container h2 {
  margin-top: 3rem;
  color: black;
  font-weight: bold;
}

.modal__container input:nth-child(2n) {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-style: none;
  border-bottom: var(--color-background) 0.2rem solid;
}

.modal__container label {
  width: fit-content;
}

.modal__form select {
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.modal__form__remainder {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal__form textarea {
  border: var(--color-background) 0.2rem solid;
  margin-bottom: 0.5rem;
}
.checkbox__label__container {
  display: flex;
}

.modal__close {
  color: #aaa;
  position: fixed;
  top: 5;
  right: inherit;
  margin-left: 28%;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
}

.modal__form {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hide {
  display: none;
}

.event-day {
  background-color: var(--highlight-in-white);
  color: #000;
  font-weight: bold;
  flex-shrink: 1;
  border-radius: 0.3rem;
}

.event-text {
  font-size: 0.8rem;
  color: black; 
  background-color: var(--highlight-in-grey); 
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  margin-top: 0.1rem;
}


.eventDay.hidden {
  display: none;
  font-size: 1rem;
}

.eventDay {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0.8rem;
}

.event-day .event-text.past-event {
  background-color: gray;
  text-decoration: line-through;
}

.event-day .hide.past-event-details {
  display: none; 
}

.hoverable:hover + p {
  font-size: xx-small;
  display: block !important;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flip-scale-up-hor {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
